/* PAGINA SIGNUP */
#container-signup{
    margin: 0 auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  
  .message{
    margin: 10px 70px;
  }
  
  .message span{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #8e8e8e;
  }
  
  .cta-button{
    width: 320px;
    margin: 10px 0;
    height: 35px;
    background-color: #0095f6;
    color: #FFFFFF;
    border:0;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .divisor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .line{
    height: 1px;
    background-color: #e6e6e6;
    width: 35%;
  }
  
  .divisor-tag{
    font-weight: bold;
    margin: 0 2.5%;
    color: #8e8e8e;
    user-select: none;
  }